<h1><%= @client.name %></h1>

<h2>Full Info</h2>
<table class="striped responsive-table">
	<tr>
		<th>Name</th>
		<th>Phone</th>
		<th>Time Submitted</th>
		<th>Date</th>
		<th>Action</th>
	</tr>
	<% 
	@prospect.each do |p|
		if p.phone.blank? == false
			%>
			<tr>
				<td><%= p.name %></td>
				<td><%= p.phone %></td>
				<td><%= p.created_at.strftime("%H:%M:%S") %></td>
				<td><%= p.created_at.strftime("%d %b. %Y") %></td>
				<td>
					<form action="/prospects/<%= p.id %>" method="post">
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
						<input type="hidden" name="_method" value="delete">
						<input class="waves-effect waves-light btn" type="submit" value="Delete Prospect">
					</form>
				</td>
			</tr>
			<%
		end
	end 
	%>
</table>

<h2>Name Only</h2>
<table class="striped responsive-table">
	<tr>
		<th>Name</th>
		<th>Time Submitted</th>
		<th>Date</th>
		<th>Action</th>
	</tr>
	<% 
	@prospect.each do |p|
		if p.phone.blank? == true
			%>
			<tr>
				<td><%= p.name %></td>
				<td><%= p.created_at.strftime("%H:%M:%S") %></td>
				<td><%= p.created_at.strftime("%d %b. %Y") %></td>
				<td>
					<form action="/prospects/<%= p.id %>" method="post">
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
						<input type="hidden" name="_method" value="delete">
						<input class="waves-effect waves-light btn" type="submit" value="Delete Prospect">
					</form>
				</td>
			</tr>
			<%
		end
	end 
	%>
</table>